<nav>
    <ul>
        <li><i class="bi bi-house-door-fill"></i></li>
        <li>
            <a>
                <p class="greeting">Witaj, {{person.name}}</p>
                <div class="dropdown-menu mt-3" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <a routerLink='/member/edit' class="dropdown-item">Edit Profile</a>
                    <div class="dropdown-divder"></div>
                    <a class="dropdown-item">Logout</a>
               </div>
                <img src="{{person.photoUrl}}" alt="avatar">
            </a>
        </li>
    </ul>
</nav>
