<nav>
    <ul>
        <li><a class="iconHome"><i class="bi bi-house-door-fill"></i></a></li>
        <li ngbDropdown>
            <a id="dropdownBasic1" ngbDropdownToggle>
                <p class="greeting" >
                    Witaj, {{person.name}}</p>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button class="logout" ngbDropdownItem>Wyloguj się</button>
                </div>

                <img src="{{person.photoUrl}}" alt="avatar">
            </a>
        </li>
    </ul>
</nav>