@media (min-width: 0) {

    a {
        display: block;
        cursor: pointer;
    }

    a:hover {
        color: inherit;
        opacity: .8;
    }

    .main-nav {
        margin-bottom: 3vh;
    }

    .main-nav__menu {
        list-style: none;
        display: flex;
        justify-content:space-between;
        padding: 2vh 0;
        border-bottom: 2px solid var(--line-grey);
    }

    .left-side {
        border-right: 2px solid var(--line-grey);
        padding-right: 20px;
        color: var(--primary-blue);
        font-size: 2rem;
    }

    .left-side__icon {
        color: var(--primary-blue);
    }

    .right-side__greeting {
        color: #252733;
        font-weight:300;
        display: inline;
        padding-right: 10px;
    }

    .right-side__logout {
        font-size: .8rem;
    }

    .right-side__avatar {
        max-height: 50px;
        border-radius: 30px;
    }

    /* element from dropdown plugin */
    /* hide arrow */
    .dropdown-toggle::after {
        display:none;
    }
}

@media (min-width: 769px) {

    .main-nav {
        margin-bottom: 3vmin;
    }

    .main-nav__menu {
        padding: 2vmin 0;
    }

    li:first-child {
        padding: 0 40px;
        font-size: 2.2rem;
    }

    .right-side__greeting {
        font-size: 1.2rem;
    }

    .right-side__logout {
        font-size: .9rem;
    }
}