<main>

    <app-second-nav [parent]="toChild"></app-second-nav>

    <div class="add-marks">
        <a class="add-marks__link">Dodaj ocenę <i class="bi bi-pencil-fill"></i></a>
    </div>

    <div class="main-list">
        <p class="main-list__title">Uczeń/Uczennica</p>

        <ul class="student-list">
            <li class="student-list__item" *ngFor="let s of list; index as i">

                <div class="student-list__student-name">
                    <p class="student-list__student-name-p">
                        {{i+1}}. {{s.student.first_name}} {{s.student.last_name}}
                        <em class="student-list__student-index">
                          <i class="bi bi-file-earmark-person"></i>
                          {{s.student.identifier}}</em>
                      </p>
                    <a class="student-list__student-name-a"
                    (click)="this.editModeToggle(i)"
                    [ngStyle]="{'color': editModeForIndex === i ? 'initial' : '#428bca'}">
                    {{editModeForIndex === i ? 'Cofnij' : 'Edytuj'}}</a>
                </div>

                <ng-container
                    *ngTemplateOutlet="editModeForIndex === i ? editMode : showCurrentMarks">
                </ng-container>

                <ng-template #showCurrentMarks>
                    <p class="student-list__list-marks" *ngIf="s.marks.length">
                        <span *ngFor="let one of s.marks"
                        class="student-list__mark">{{one.mark}}</span>
                    </p>
                </ng-template>

                <ng-template #editMode>
                    <app-edit-marks [getMarks]="s.marks"></app-edit-marks>
                </ng-template>
            </li>
        </ul>

    </div>

</main>
