@media (min-width: 0) {

    .add-marks {
        padding: 10px 0;
        text-align: center;
        font-weight: 600;
        background-color: white;
        border: 1px solid var(--primary-blue);
        cursor: pointer;
        margin-bottom: 25px;
    }

    .add-marks__link {
        color: black;
    }

    .main-list__title {
        font-size: .9rem;
    }

    .student-list__item {
        list-style: none;
        background-color: white;
        border: 1px solid var(--primary-blue);
        margin: 5px 0;
        padding: 10px;
    }

    .student-list__student-name {
        display: flex;
        justify-content: space-between;
    }

    .student-list__student-name-a {
        text-decoration: underline;
        cursor: pointer;
    }

    .student-list__marks-p {
        margin: 0;
    }

}

@media (min-width: 769px) {

    .add-marks {
        font-size: 1.5rem;
        font-weight: 500;
        background-color: inherit;
        border: 0;
        display: inline-block;
    }

    .add-marks__link {
        text-decoration: underline;
    }

    .main-list__title {
        font-size: 1.3rem;
    }

    .student-list__item {
        border: 0;
    }
}