<main>

    <app-second-nav [parent]="toChild"></app-second-nav>

    <div class="add-marks">
        <a class="add-marks__link"
        routerLink="nowa-ocena">Dodaj ocenę <i class="bi bi-pencil-fill"></i></a>
    </div>

    <div class="main-list" *ngIf="this.list else lackStudentsList">
        <p class="main-list__title">Uczeń/Uczennica</p>

        <ul class="students-list">
            <li class="global-list-element students-list__student"
            [ngClass]="{'global-animate-el-of-list': editModeForIndex !== i}"
            *ngFor="let s of list; index as i">

                <div class="students-list__student-name">
                    <p class="students-list__student-name-p">
                        {{i+1}}. {{s.student.first_name}} {{s.student.last_name}}
                        <em class="students-list__student-index">
                          <i class="bi bi-file-earmark-person">
                            </i> {{s.student.identifier}}</em></p>

                    <a class="students-list__student-name-a" *ngIf="s.marks.length else lackMarks"
                    (click)="this.editModeToggle(i)"
                    [ngStyle]="{'color': editModeForIndex === i ? 'initial' : '#428bca'}">
                    {{editModeForIndex === i ? 'Cofnij' : 'Edytuj'}}</a>

                    <ng-template #lackMarks>
                        <span>Nie posiada ocen <i class="bi bi-emoji-frown"></i></span>
                    </ng-template>
                </div>

                <ng-container
                    *ngTemplateOutlet="editModeForIndex === i ? editMode : showCurrentMarks">
                </ng-container>

                <ng-template #showCurrentMarks>
                    <p class="students-list__list-marks" *ngIf="s.marks.length">
                        <span *ngFor="let one of s.marks"
                        class="students-list__mark" [ngClass]="one.kindOf">{{one.mark}}</span>
                    </p>
                </ng-template>

                <ng-template #editMode>
                    <app-edit-marks
                    [getMarksJson]="sendJsonMarks(s.marks)"
                    (refreshList)="this.editModeToggle(-1); this.getStudentsMarks(true)"
                    ></app-edit-marks>
                </ng-template>
            </li>
        </ul>

    </div>

    <ng-template #lackStudentsList>
        <h2>Niestety, brak studentów do wyświetlenia</h2>
    </ng-template>

</main>
