@media (min-width: 0) {

    .add-marks {
        padding: 10px 0;
        text-align: center;
        font-weight: 600;
        background-color: var(--primary-white);
        border: 1px solid var(--primary-blue);
        cursor: pointer;
        margin-bottom: 25px;
    }

    .add-marks__link {
        color: black;
    }

    .main-list__title {
        font-size: .9rem;
    }

    .students-list__student{
        padding: 10px;
    }

    .students-list__student-name {
        display: flex;
        justify-content: space-between;
    }

    .students-list__student-index {
      display: none;
    }

    .students-list__student-name-a {
        cursor: pointer;
    }

    .students-list__student-name-a:hover {
        text-decoration: underline;
    }

    .students-list__list-marks {
        margin: 0;
    }

    .students-list__mark::before {
      content: ', ';
    }

    .students-list__mark:first-child::before {
      content: '';
    }
}

@media (min-width: 769px) {

    .add-marks {
        font-size: 1.5rem;
        font-weight: 500;
        background-color: inherit;
        border: 0;
        display: inline-block;
    }

    .add-marks__link:hover {
        text-decoration: underline;
        opacity: .7;
    }

    .main-list__title {
        font-size: 1.3rem;
    }

    .students-list__student-index {
      display: inline;
      color: var(--primary-blue);
      font-style: normal;
      margin-left: 10px;
    }

    .students-list__list-marks::before {
      content: 'Oceny:';
      margin-right: 10px;
    }
}
