<main>
    <app-second-nav [parent]="toChild"></app-second-nav>

    <form #f="ngForm" *ngIf="list.length" (ngSubmit)="addMarks()"
    novalidate>
        <div class="general">

            <div class="topic">
                <label class="topic__title" for="topic">Temat pracy</label>
                <input type="text" name="topic" id="topic" [(ngModel)]="dupa.topic"
                class="topic__input" placeholder="Temat pracy">
            </div>
        
            <select name="kindOf" id="kindOf" class="typeofAssigment" [(ngModel)]="dupa.kindOf">
                <option *ngFor="let kindOf of typeofAssigment"
                class="typeofAssigment__option"
                [value]="kindOf">{{kindOf}}</option>
            </select>
    
        </div>


        <div class="main-list">

            <p class="main-list__title">Uczeń/Uczennica</p>

            <ul class="students-list">
                <li class="students-list__student"
                *ngFor="let student of list; index as i">
                    <p class="students-list__names">
                        {{i+1}}. {{student.first_name[0]}}.{{student.last_name}}
                        <span class="students-list_names-span">{{student.identifier}}</span></p>
                    <input class="students-list__input" type="number" value="1"
                    min="1" max="6" step="1" (change)="onCheckboxChange($event, student.identifier)">
                </li>
            </ul>

        </div>

        <div class="center-button">
            <input type="submit" class="btn btn-outline-success" value="Zapisz">
        </div>

    </form>
</main>
