<div class="card-common" ngClass="{{dateCard.readonly ? 'readonly' : 'clickMode'}}"
(click)="routerlink()">

    <div class="card-common__upward">
        <i class="card-common__icon" *ngIf="dateCard.icon else caption"
        [ngClass]="dateCard?.icon ? dateCard.icon : ''"
        [ngStyle]="{'color': this.colorCard}"></i>
        <ng-template #caption>
            <p class="card-common__caption" #caption
            [ngStyle]="{'color': this.colorCard}">{{dateCard?.caption}}</p>
        </ng-template>
    </div>

    <div class="card-common__backward">
        <p class="card-common__description">{{dateCard.name}}</p></div>
</div>