<div class="main-list" *ngIf="this.list else lackStudentsList">

    <div class="main-list__title">
      <p>Uczeń/Uczennica</p>
      <p>Obecność</p></div>

    <ul class="students-list">
        <li class="global-list-element global-animate-el-of-list students-list__student"
        *ngFor="let student of this.list; index as i"
        [ngClass]="{'global-list-element--unSelect': !student.isActive}">

            <label class="students-list__label--mobile">
                {{i+1}}. {{student.student.first_name[0]}}.{{student.student.last_name}}</label>

            <label class="students-list__label--pc" >
                {{i+1}}. {{student.student.first_name}} {{student.student.last_name}}
                <span class="students-list__span--pc"><i class="bi bi-file-earmark-person"></i>
                    {{student.student.identifier}}</span></label>

            <input type="checkbox" [value]="student.isActive" [(ngModel)]="student.isActive">
        </li>
        <div class="students-list__center-button">
            <button type="submit" (click)="saveList()" class="btn btn-outline-success">Zapisz</button>
        </div>
    </ul>
</div>

<ng-template #lackStudentsList>
    <h2>Niestety, brak studentów do wyświetlenia</h2>
</ng-template>
