@media (min-width: 0) {

    p {
        padding: 0;
        margin: 0;
    }

    a {
        cursor: pointer;
    }

    .header {
        display: block;
        border-bottom: 2px solid var(--line-grey);
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    .main-list__title {
        font-size: .9rem;
    }

    .subject-list__subject{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    .subject-list__subject-name-p {
        display: inline;
        padding: 0 10px;
    }

    .subject-list__subject-name-p--blue {
        color: var(--primary-blue);
    }

    .subject-list__details {
        font-weight: 400;
    }
}
@media (min-width: 769px) {

    .header {
        display: flex;
        flex-wrap: wrap;
    }
}
