<main>
    <app-second-nav [parent]="dateFromParent?.nav"></app-second-nav>

    <div class="header">
        <app-card *ngFor="let item of dateFromParent?.header" [dateCard]="item"></app-card>
    </div>

    <div class="main-list">

        <ul class="subject-list">
            <li class="global-list-element"
            [ngClass]="{'global-animate-el-of-list': editModeForIndex !== i}"
            *ngFor="let subject of dateFromParent?.mainList; index as i">
            
                <div class="subject-list__subject">
                    <div class="subject-list__subject-name">
                        <i ngClass="{{subject.subject.icon ? subject.subject.icon : 'bi bi-patch-question'}}"
                        [ngStyle]="{'color': dateFromParent?.color}"></i>
                        <p class="subject-list__subject-name-p">{{subject.subject.name}}</p>
                        <p class="subject-list__subject-name-p subject-list__subject-name-p--blue"
                        >{{subject?.subject?.avg}}</p></div>
                    
                    <a class="subject-list__details" *ngIf="subject?.marks || subject?.days"
                    (click)="this.editModeToggle(i)">{{editModeForIndex === i ? 'Cofnij' : 'Szczegóły'}}</a>
                </div>

                <app-student-universal-detail *ngIf="editModeForIndex === i" 
                [parent]="subject"></app-student-universal-detail>

            </li>
        </ul>

    </div>

</main>