<main>
  <app-second-nav [parent]="nav"></app-second-nav>

  <div class="message-menu">

    <a class="message-menu__new-message"
    (click)="goToNewMessage()">Nowa wiadomość</a>

  </div>

  <div class="main-block">

    <div class="senders" *ngIf="listOfSenders.length else lackListOfSenders">

      <h4>Masz {{listOfSenders.length}} wiadomości</h4>

      <div class="sender" *ngFor="let item of listOfSenders | slice:senderFirst:senderLast"
        [ngClass]="{'as-read': item.isReaded}">

        <div class="sender__left-side">
          <i class="bi bi-chat-right-text-fill"
          *ngIf="!item.isReaded"></i>
          <img class="sender__avatar" src="{{item.avatar}}"
          alt="avatar">
        </div>


        <div class="sender__text">
          <div class="sender__name">
            {{item.fullName}}
          </div>

          <div class="sender_expanded-message"
          *ngIf="wholeMessageMode !== listOfSenders.indexOf(item) else wholeMessage">

            <div class="sender__whoIsSender">
              {{item.isSender ? 'odebrana' : 'wysłana'}}, {{item.kindOf}}
            </div>

            <div class="sender__current-message">
              {{item.message}}
            </div>

          </div>

          <ng-template #wholeMessage>

            <div class="whole-message">

              <div class="whole-message__subject">
                {{item.subject}}
              </div>

              <div class="whole-message__message">
                {{item.message}}
              </div>

              <div class="whole-message__bottom">
                Wiadomość została {{item.isSender ? 'odebrana' : 'wysłana'}} {{item.dateTime}}
              </div>

            </div>

          </ng-template>

          <div class="sender__expand">
            <a class="sender__go-expand"
            (click)="wholeMessageModeToggle(listOfSenders.indexOf(item)); item.isReaded= true">
              {{wholeMessageMode !== listOfSenders.indexOf(item) ? 'Odczytaj' : 'Zwiń'}}
            </a>
            <a class="sender__go-expand" *ngIf="!item.isSender">
              {{wholeMessageMode === listOfSenders.indexOf(item) ? 'odpowiedz na wiadomość' : ''}}
            </a>
          </div>

        </div>

      </div>

      <div class="senders__nav" *ngIf="listOfSenders.length > this.pageSize">
        <a class="button" *ngIf="senderLast - this.pageSize > 0"
          (click)="paginationOwn(false)">Back</a>
  
        <a class="button" *ngIf="senderFirst + this.pageSize < listOfSenders.length"
         (click)="paginationOwn(true)">Next</a>
      </div>

    </div>

    <ng-template #lackListOfSenders>
      <div class="senders"><h3>Brak wiadomości</h3></div>
    </ng-template>

    <div class="message">

      <app-new-message (refresh)="getMessages()"></app-new-message>

    </div>


  </div>


</main>
