<main>
  <app-second-nav [parent]="nav"></app-second-nav>

  <div class="message-menu">

    <a class="message-menu__new-message">Nowa wiadomość</a>

  </div>



  <div class="main-block">

    <div class="senders">

      <div class="sender" *ngFor="let item of sendersObj | slice:messagesStart:messagesEnd;
        index as i" [ngClass]="{'as-read': item.read}">

        <div class="sender__left-side">
          <i class="bi bi-chat-right-text-fill"
          *ngIf="!item.read"></i>
          <img class="sender__avatar" src="{{item.avatar}}"
          alt="avatar">
        </div>


        <div class="sender__text">
          <div class="sender__name">
            {{item.name}}
          </div>

          <div class="sender_expanded-message"
          *ngIf="wholeMessageMode !== i else wholeMessage">

            <div class="sender__whoIsSender">
              {{item.sender ? 'odebrana' : 'wysłana'}}
            </div>

            <div class="sender__current-message">
              {{item.message}}
            </div>

          </div>

          <ng-template #wholeMessage>

            <div class="whole-message">

              <div class="whole-message__subject">
                {{item.subject}}
              </div>

              <div class="whole-message__message">
                {{item.message}}
              </div>

              <div class="whole-message__bottom">
                Wiadomość została {{item.sender ? 'odebrana' : 'wysłana'}} {{item.date}}
              </div>

            </div>

          </ng-template>

          <div class="sender__expand">
            <a class="sender__go-expand"
            (click)="wholeMessageModeToggle(i); item.read = true">
              {{wholeMessageMode !== i ? 'Odczytaj' : 'Zwiń'}}
            </a>
            <a class="sender__go-expand" *ngIf="item.sender">
              {{wholeMessageMode === i ? 'odpowiedz na wiadomość' : ''}}
            </a>
          </div>

        </div>

      </div>

      <a class="button" *ngIf="messagesEnd - 5 > 0"
        (click)="paginationOwn(false)">Back</a>

      <a class="button" *ngIf="messagesStart + 5 < sendersObj.length"
       (click)="paginationOwn(true)">Next</a>


    </div>

    <div class="message">
    </div>


  </div>


</main>
