@media (min-width: 0) {

    h4 {
        color: var(--primary-blue);
        font-weight:500;
    }

    .back {
        cursor: pointer;
        padding: 0 10px;
        border-right: 2px solid var(--line-grey);
    }

    ul {
        margin-top: 3vh;
        list-style: none;
    }

    li {
        text-align: center;
    }

    p {
        border: 1px solid var(--primary-blue);
        background: white;
        font-weight:600;
        padding: 10px 0;
        cursor: pointer;
    }
    
    .subjectIcon {
        color: var(--primary-blue);
        margin-right: 2px;
    }

    span {
        inline-size: 20vh;
        overflow-wrap: break-word;
    }

}

@media (min-width: 769px) {

    h4 {
        font-size: 1.7rem;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
    }

    li {
        margin: 0 1vh;
        min-width: 20vh;
    }

    p {
        padding: 0;
        min-height: 10vh;
        display: grid;
    }
    
    .subjectIcon {
        font-size: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 5px;
    }

    span {
        padding: 0 15px;
    }

}