<main>

    <h4><a class="back" *ngIf="!this.dateFromParent.hideBack" (click)="this.back()"
        >Wróć</a> {{dateFromParent.title}}</h4>

    <ul *ngIf="this.dateFromParent.list.length else lackResource">
        <li *ngFor="let item of dateFromParent.list; index as i">
            <p class="pCard" routerLink={{this.createLink(item.key)}}>
                <i ngClass={{item.value}} class="subjectIcon" 
                [ngStyle]="{'color': this.iconsColor[i % this.iconsColor.length]}">
                </i>
                <span>{{item.key}}</span>
            </p>
        </li>
    </ul>

    <ng-template #lackResource>
        <h5>Niestety, nie posiadasz żadnych {{this.dateFromParent.lackResource}}</h5>
    </ng-template>

</main>