@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (min-width: 0) {

    h4 {
        color: var(--primary-blue);
        font-size: 1.3rem;
        font-weight:400;
    }

    .back {
        cursor: pointer;
        padding: 0 10px;
        border-right: 2px solid var(--line-grey);
    }

    ul {
        margin-top: 3vh;
        list-style: none;
    }

    li {
        text-align: center;
    }

    .pCard {
        border: 1px solid var(--primary-blue);
        background: white;
        font-weight:600;
        padding: 10px 0;
        cursor: pointer;
    }
    
    .subjectIcon {
        color: var(--primary-blue);
        margin-right: 2px;
    }

    span {
        inline-size: 20vh;
        overflow-wrap: break-word;
    }

    h5 {
        margin-top: 2vh;
        animation: appear 1s ease-in-out .5s backwards;
    }

}

@media (min-width: 769px) {

    h4 {
        font-size: 1.7rem;
    }

    ul {
        margin-top: 3vmin;
        display: flex;
        flex-wrap: wrap;
    }

    li {
        margin: 0 1vh;
        min-width: 20vmin;
    }

    .pCard {
        padding: 0;
        min-height: 12vmin;
        display: grid;
        will-change: transform;
        transition: transform .3s ease-in-out;
    }

    .pCard:hover {
        transform: translateY(-10px);
    }
    
    .pCard::after {
        content: '';
        z-index: -1;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border: 1px solid grey;
        opacity: 0;
        transition: opacity .5 ease-in-out;
        will-change: opacity, transform;
        transform: translateZ(0);
    }

    .pCard:hover::after {
        opacity: 1;
    }

    .subjectIcon {
        font-size: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 5px;
    }

    span {
        inline-size: 20vmin;
        padding: 0 15px;
    }
}