@media (min-width: 0) {

    p {
        margin: 0;
        padding: 0;
    }

    .element {
        padding: 15px 0;
    }

    .ones-element__p--mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 2px solid var(--line-grey);
        padding: 5px 0;
    }

    .ones-element__p--pc {
        display: none;
    }

    .fa.fa-times {
        color: #CD5C5C;
    }
}
@media (min-width: 769px) {

    .ones-element__p--mobile {
        display: none;
    }

    .ones-element__p--pc {
        display: flex;
        justify-content: space-between;
        border-top: 2px solid var(--line-grey);
        padding: 10px 0;
    }

    .ones-element__p--pc:first-child {
        border-top: 0;
    }

    .ones-element__p--center {
        display: flex;
        justify-content: center;
    }
}