<div class="message">

    <app-second-nav [parent]="toNav"></app-second-nav>

    <h2 class="title">Napisz wiadomość</h2>

    <div class="reciver">

        <div class="reciver-teacher">

            <select class="reciver__select" name="teacherSelected">
                <option *ngFor="let subject of teachersObj"
                value="{{subject.subjectName}}">{{subject.subjectName}} - {{subject.teacherName}}</option>
            </select>

        </div>
        
        <div class="reciver-kindOf">

            <select class="reciver__select" name="teacherSelected">
                <option *ngFor="let kindOf of kindOfObj"
                value="{{kindOf}}">{{kindOf}}</option>
            </select>

        </div>

    </div>
    
    <textarea class="textarea-message" name="" id="" cols="30" rows="10"></textarea>


    <div class="center-button">
        <input class="btn btn-outline-primary" type="submit" value="Wyślij">
    </div>
    
</div>

