@media (min-width: 0) {

    .title {
        display: none;
    }

    .reciver {
        margin-top: 15px;
    }

    .reciver__select {
        -moz-appearance: none; /* for Firefox */
        -webkit-appearance: none; /* for Chrome */
        background-color: var(--primary-white);
        text-align: center;
        font-size: 1rem;
        cursor: pointer;
        border: 1px solid var(--line-grey);
        width: 100%;
    }

    .reciver__select:hover {
        opacity: .7;
    }

    .select-margin {
        margin-top: 10px;
    }

    .reciver-kindOf .reciver__select{
        margin-top: 5px;
    }

    .textarea-message {
        margin: 30px 0;
        width: 100%;
        background-color: var(--primary-white);
        border: 1px solid var(--line-grey);
    }

    .btn.btn-outline-primary {
        width: 100%;
        border: 1px solid var(--primary-blue);
    }
}

@media (min-width: 769px) {

    .title {
        display: inline;
    }

    app-second-nav {
        display: none;
    }

    .reciver__select {
        font-size: 1rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 45ch;
    }

    .reciver-kindOf .reciver__select{
        margin: 10px 0;
        width: 100%;
    }

    .custom-control-label {
        font-size: .9rem;
    }

    .textarea-message {
        margin: 30px 0;
        width: 100%;
    }

    .center-button {
        display: flex;
        justify-content: center;
    }

    .btn.btn-outline-primary {
        width: 100%;
    }
}