@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (min-width: 0) {
    .container {
        background-color: white;
        max-width: 90vmin;
        min-height: 60vh;
        margin-top: 10vh;
        border-radius: var(--rounded);
    }

    .left {
        display: none;
    }

    h3.greeting {
        width: 100%;
        padding: 10% 0;
        text-align: center;
    }

    form {
        margin: 0 5%;
    }

    .form-group {
        margin: 10% 0;
    }

    label {
        font-size: 0.8rem;
    }

    input {
        border: 0;
        border-bottom: 2px solid var(--primary-blue);
        border-radius: 0;
    }

    .center-button {
        display: flex;
        justify-content: space-around;
        padding-bottom: 10vh;
    }

}

@media (min-width: 769px) {

    .container {
        min-height: 80vmin;
        max-width: 98vh;
        margin-top: 10vmin;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .block {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .left {
        grid-column: 1;
        background-color: var(--primary-blue);
        color: white;
        border-radius: var(--rounded);
        animation: appear 2s ease-in-out .5s backwards;
    }

    .elements * {
        margin: 2vh 0;
    }

    .bi.bi-journal-bookmark {
        font-size: 8rem;
    }

    .left h2 {
        font-size: 1.3rem;
    }

    .right {
        grid-column: 2;
    }

    .right-elements {
        width: 100%;
        margin: 2vh 8vmin;
    }

    h3.greeting {
        width: 100%;
        padding: 0;
        text-align: left;
    }

    form {
        margin: 0;
    }

    .form-group {
        margin-top: 10px;
        text-align: left;
    }

    label {
        font-size: 1rem;
    }

    .center-button {
        padding-bottom: 0;
    }
}
