@media (min-width: 0) {

    .set-date {
        padding: 10px 0;
    }

    .bi.bi-calendar-week {
        display: none;
    }

    .set-date__text {
        text-align: center;
        font-weight: 600;
    }
}

@media (min-width: 769px) {

    input {
        cursor: pointer;
    }

    .set-date {
        margin: 1vh 0;
        padding: 10px;
        display:inline-flex;
        align-items: baseline;
        font-size: 1.3rem;
    }

    .bi.bi-calendar-week {
        display: inline;
    }

    .set-date__text {
        min-width: 60px;
        font-size: 1.3rem;
        text-align: center;
        font-weight: 600;
        margin: 0 5px;
    }

    .set-date__input {
        font-size: 1.3rem;
        min-width: 150px;
        display: inline;
        border: 0;
        background-color: inherit;
    }
}