<main>

    <h4><a class="back" (click)="this.back()">Wróć</a>
        <span class="title">{{title}}</span>
    </h4>

    <div class="acceptDate">
        <p>Potwierdź datę</p>
        <input type="date" [ngModel]="today | date:'yyyy-MM-dd'" (ngModelChange)="today = $event" name="dt"
            class="form-control form-control-rounded text-center" #searchDate required>
    </div>

    <div class="studentsList">
        <div class="descriptionP">
            <p>Uczeń/Uczennica</p>
            <p>Obecność</p>
        </div>
        <form [formGroup]="form" (ngSubmit)="saveList()">
            <ul class="mainPresentList">
                <li *ngFor="let student of this.studentsList; index as i">
                    <label for="student">
                        {{i+1}}. {{student.name.charAt(0)}}.{{student.lastname}}
                    </label>
                    <input id="student" type="checkbox" [value]="student.userId" 
                    (change)="onCheckboxChange($event)">
                </li>
                <button type="submit" class="btn btn-outline-success">Zapisz</button>
            </ul>
        </form>
    </div>

</main>
