<main>

    <app-second-nav [parent]="toChild"></app-second-nav>

    <div class="display-block">
        <div class="set-date">
            <i class="bi bi-calendar-week"></i>
            <p class="set-date__text">Dzień:</p>
            <input type="date" [ngModel]="choiceDay | date:'yyyy-MM-dd'" (ngModelChange)="settingDate($event)"
                name="dt" [max]="today | date:'yyyy-MM-dd'"
                class="set-date__input form-control form-control-rounded text-center" #searchDate></div></div>

    <ng-container
            *ngTemplateOutlet="activityListBool ? 
            activityList : absentList"></ng-container>

    <ng-template #activityList><app-activity-list></app-activity-list></ng-template>

    <ng-template #absentList><app-absent-list [getDateFromParent]="choiceDay"></app-absent-list></ng-template>

</main>
