/*Mulish
Light 300
Regular 400
Semi-bold 600*/
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600&display=swap');
@import "~bootstrap-icons/font/bootstrap-icons.css";

:root {
  font: 16px 'Mulish', sans-serif;
  --primary-blue: #2D9CDB;
  --primary-grey: #F7F8FC;
  --line-grey: #DFE0EB;
  --rounded: 5px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-grey);
}


@media (max-width: 800px) {
  .bgForLoggingComponent {
    background-color: var(--primary-blue);
  }
}

a:visited {
  color: inherit;
}
