@media (min-width: 0) {

    .error {
        margin-top: 2vh; 
        animation: appear 10s ease-in-out .5s backwards;
    }
}
@media (min-width: 769px) {

    .cards {
        display: flex;
        flex-wrap: wrap;
    }
}